
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSistem.cshtml";
}

<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Sistem</a>
        </li>
        <li class="breadcrumb-item active">Anasayfa</li>
    </ol>

    <!-- Icon Cards-->
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-comments"></i>
                    </div>
                    <div class="mr-5">Belediye Sayısı : @ViewBag.BelediyeSayisi</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/SistemBelediyeler/Index/">
                    <span class="float-left">İncele</span>
                    <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-list"></i>
                    </div>
                    <div class="mr-5">Birim Sayısı : @ViewBag.BirimSayisi</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/SistemBirimler/Index/">
                    <span class="float-left">İncele</span>
                    <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-shopping-cart"></i>
                    </div>
                    <div class="mr-5">Mesaj Sayısı : @ViewBag.IletisimSayisi</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/SistemIletisim/Index/">
                    <span class="float-left">İncele</span>
                    <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-life-ring"></i>
                    </div>
                    <div class="mr-5">Duyuru Sayısı : @ViewBag.DuyuruSayisi</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/SistemDuyurular/Index/">
                    <span class="float-left">İncele</span>
                    <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>

    
</div>

